body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 100%;
    overflow-x: hidden;
    color: rgb(245, 245, 245);
    background: rgb(0, 0, 0);
}

/****************************** GOLD THEME ***************************/
.text-gold {
    color: #f5b80f !important;
}

.bg-gold {
    color: #f5b80f !important
}

.border-gold {
    border-color: #f5b80f !important;
}

.btn-gold {
    background-color: #f5b80f !important;
}

.bg-main {
    background: rgb(53, 52, 52);
}

.search-label {
    background-color: rgb(53, 52, 52);
    z-index: 1;
    padding: 0 5px;
    transform: translateY(10%);
}


/****************************** GOLD THEME ***************************/
/****************************** FORM NOTCHES **************************/
.form-notch .form-notch-middle {
    border-color: #f5b80f !important;
}

.form-notch .form-notch-leading {
    border-color: #f5b80f !important;
}

.form-notch .form-notch-trailing {
    border-color: #f5b80f !important;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-color: #f5b80f !important;
    box-shadow: none;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-color: #f5b80f !important;
    box-shadow: none;
    border-top: 0px;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: #f5b80f !important;
    box-shadow: none;
}

/****************************** FORM NOTCHES **************************/

/****************************** ICON HOVERS ***************************/
.icon-hover:hover {
    border-color: #f5b80f !important;
}

.icon-hover:hover i {
    color: #f5b80f !important;
}

/****************************** ICON HOVERS ***************************/

/****************************** NAVABR LINK / ITEMS HOVERS ***************************/
/* .navbar-link:hover .text-white{
    color: gold !important;
}

.categories-dropdown .dropdown-item:hover{
    color: gold !important;
} */
/****************************** NAVABR LINK / ITEMS HOVERS ***************************/

#search-input:focus+#search-label {
    color: #f5b80f !important;
}

.categories-dropdown *:hover {
    color: #f5b80f !important;
    background-color: rgb(53, 52, 52) !important;
}

.page-offset {
    margin: 170px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px -10px rgba(255, 255, 255, 0.12), 0 4px 8px rgba(255, 255, 255, 0.06);
    color: goldenrod;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5b80f;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.arrow:hover {
    transform: scale(1.2);
}

.arrow-left {
    margin-right: 10px;
}

.arrow-right {
    margin-left: 10px;
}

.text-cart {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.card-list:hover {
    color: #f5b80f !important;
    background-color: rgb(53, 52, 52) !important;
}

.form-card-style{
    border-color: #f5b80f;
    border-width: 2px;
    border-radius: 50%;
}
.card-banner {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    top: 50%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    background-image: url(../images/1.webp);
}

.btn-gold {
    align-items: center;
}
.text-white{
    color: #ffff;
}
.checkout-style:hover {
    transform: scale(1);
}
.bg-main2 {
    background: rgb(0, 0, 0);
}
.text-white{
    color : #ffff;
}
.cart-info-style{
   padding: 1.5rem!important;
   box-sizing: border-box;
}
.keep-me-up-checkbtn {

    background-color: #332d2d;
    border: 0.125rem solid #f5b80f;
}
.keep-me-up-checkbtn[type=checkbox]:checked:after {
    display: block;
    transform: rotate(45deg) /*!rtl:ignore;; */;
    width: 0.375rem;
    height: 0.8125rem;
    border: 0.125rem solid #f5b80f;
    border-top: 0;
    border-left: 0 /*!rtl:ignore;; */;
    margin-left: 0.25rem;
    margin-top: -1px;
    background-color: transparent;
}

.keep-me-up-checkbtn[type=checkbox]:checked {
    background-image: none;
    background-color: #332d2d;
}
.form-check-input[type=checkbox]:checked:focus {
    background-color: #332d2d;
}
.form-check-input:checked {
    border-color: #f5b80f;
}
.checout-border{
    border-radius : 2%;
}




