.bg-main {
    background-color: #332d2d;
    box-shadow: none;
    color: #f5b80f;
}
.text-gold{
  color: #f5b80f !important;
}
.btn-gold {
    background-color: #f5b80f !important;
}
.btn-gold:hover {
    color: black;
    transform: scale(1.05);

}
.circle {


    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #352d2d;
    color: #f5b80f;
    font-size: 20px;
    display: flex;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);

}
    
.arrow :hover {
    transform: scale(1.2);


}
input[type="radio"] {
    -webkit-appearance: none;
    /* remove default appearance */
    -moz-appearance: none;
    appearance: none;
    background-color: #1C1C1E;
    /* dark background */
    border: 2px solid #DAA520;
    /* gold border */
    border-radius: 50%;
    /* rounded border */
    width: 20px;
    /* size of the radio button */
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    /* spacing between radio button and label */
}

input[type="radio"]:checked {
    background-color: #DAA520;
    /* gold background */
    box-shadow: 0 0 0 2px #DAA520 inset;
    /* gold box shadow */
    border: 2px solid #DAA520;
    /* gold border */
}
.border-gold {
    border-color: #f5b80f !important;
}
    
.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-color: #f5b80f !important;
    box-shadow: none;
}
.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-color: #f5b80f !important;
    box-shadow: none;
    border-top: 0px;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: #f5b80f !important;
    box-shadow: none;
}


.form-notch .form-notch-middle {
    border-color: #f5b80f !important;
}

.form-notch .form-notch-leading {
    border-color: #f5b80f !important;
}

.form-notch .form-notch-trailing {
    border-color: #f5b80f !important;
}

.input-label {
    background-color: #332d2d;
    z-index: 1;
    padding: 0 7px;
    transform: translateY(5%);
}
