<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0"
  metadata-complete="true">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductsPage</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.AllProductsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsPage</servlet-name>
    <url-pattern>/all-products</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductsDetails</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.ProductDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductsDetails</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmailValidationServlet</servlet-name>
    <servlet-class>gov.iti.fusion.validation.servlets.EmailValidationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmailValidationServlet</servlet-name>
    <url-pattern>/validate/email</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UsernameValidationServlet</servlet-name>
    <servlet-class>gov.iti.fusion.validation.servlets.UsernameValidationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UsernameValidationServlet</servlet-name>
    <url-pattern>/validate/username</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PhoneNumberValidationServlet</servlet-name>
    <servlet-class>gov.iti.fusion.validation.servlets.PhoneNumberValidationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PhoneNumberValidationServlet</servlet-name>
    <url-pattern>/validate/phonenumber</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.AdminServlet</servlet-class>
  </servlet>
  
<servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.AddToCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/user/add-to-cart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddToWishListServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.AddToWishListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddToWishListServlet</servlet-name>
    <url-pattern>/user/add-to-wish-list</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.CartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FilterGamesServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.FilterGamesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FilterGamesServlet</servlet-name>
    <url-pattern>/user/filter-games</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserLibraryServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.UserLibraryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserLibraryServlet</servlet-name>
    <url-pattern>/library-page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserWishListServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.UserWishListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserWishListServlet</servlet-name>
    <url-pattern>/wish-games</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>GamePictureServlet</servlet-name>
      <servlet-class>gov.iti.fusion.servlets.game.GamePictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GamePictureServlet</servlet-name>
    <url-pattern>/games/images/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddGameServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.game.AddGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameServlet</servlet-name>
    <url-pattern>/admin/game/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditGameServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.game.EditGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGameServlet</servlet-name>
    <url-pattern>/admin/game/edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetGameServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.game.GetGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGameServlet</servlet-name>
    <url-pattern>/admin/game</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.user.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteGameServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.admin.game.DeleteGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGameServlet</servlet-name>
    <url-pattern>/admin/game/delete</url-pattern>
  </servlet-mapping>




  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/user/checkout</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.CheckOutServlet</servlet-class>
  </servlet>

  <listener>
    <listener-class>gov.iti.fusion.listeners.ContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>gov.iti.fusion.listeners.RequestListener</listener-class>
  </listener>

</web-app>