<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0"
    metadata-complete="true">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.HomeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductsPage</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.AllProductsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProductsPage</servlet-name>
    <url-pattern>/all-products</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductsDetails</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.ProductDetailsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProductsDetails</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>gov.iti.fusion.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>


  <listener>
    <listener-class>gov.iti.fusion.listeners.ContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>gov.iti.fusion.listeners.RequestListener</listener-class>
  </listener>

</web-app>
